<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<!-- 
<hibernate-configuration
        xmlns="http://www.hibernate.org/xsd/hibernate-configuration"
        xsi:schemaLocation="http://www.hibernate.org/xsd/hibernate-configuration hibernate-configuration-4.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
-->
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="connection.url">jdbc:hsqldb:hsql://localhost/</property>
    <property name="connection.username">sa</property>
    <property name="connection.password"></property>

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <!-- 
     -->
    
    <!-- JDBC connection pool timeout setting -->
    <!-- 
    <property name="c3p0.timeout">10</property>
     -->

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>

    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
	<property name="format_sql">true</property>
	<property name="use_sql_comments">true</property>
	
    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">create-drop</property>
    
    <!-- chapter 03 -->
    <!-- 
    <mapping class="au.com.aussie.chapter03.hibernate.domain.MessageCh03"/>
    <mapping class="au.com.aussie.chapter03.hibernate.domain.Person"/>
    <mapping class="au.com.aussie.chapter03.hibernate.domain.Skill"/>
    <mapping class="au.com.aussie.chapter03.hibernate.domain.Ranking"/>
     -->
    
    <!-- chapter 04 for broken -->
    <!-- 
    <mapping class="au.com.aussie.chapter04.broken.Message"/>
    <mapping class="au.com.aussie.chapter04.broken.Email"/>
     -->
     <!-- chapter 04 for mapped -->
    <!-- 
    <mapping class="au.com.aussie.chapter04.mapped.Message"/>
    <mapping class="au.com.aussie.chapter04.mapped.Email"/>
    <mapping class="au.com.aussie.chapter04.model.SimpleObject"/>
     -->

    <!-- chapter 04 for ophanremoval -->
    <!-- 
    <mapping class="au.com.aussie.chapter04.orphan.Book"/>
    <mapping class="au.com.aussie.chapter04.orphan.Library"/>
     -->
    
    <!-- chapter 06 for Mapping with Annotations -->
    <!-- 
    <mapping class="au.com.aussie.chapter06.naturalid.SimpleNaturalIDEmployee"/>
    <mapping class="au.com.aussie.chapter06.naturalid.Employee"/>
     -->

    <!-- chapter 07 for validate -->
    <!-- 
    <mapping class="au.com.aussie.chapter07.validated.ValidatedSimplePerson"/>
    <mapping class="au.com.aussie.chapter07.validated.Coordinate"/>
     -->
    
    <!-- chapter 09 for queries -->
    <mapping class="au.com.aussie.chapter09.Supplier"/>
    <mapping class="au.com.aussie.chapter09.Product"/>
    <mapping class="au.com.aussie.chapter09.Software"/>
  </session-factory>
</hibernate-configuration>